version: '3.8'
services:
  aws:
    image: amazon/aws-cli
    environment:
      AWS_ACCESS_KEY_ID: "${AWS_ACCESS_KEY_ID}"
      AWS_SECRET_ACCESS_KEY: "${AWS_SECRET_ACCESS_KEY}"
      AWS_REGION: "${AWS_REGION}"
    volumes:
      - $PWD:/app
  terraform:
    build:
      context: .
      dockerfile: terraform.Dockerfile
    environment:
      AWS_ACCESS_KEY_ID: "${AWS_ACCESS_KEY_ID}"
      AWS_SECRET_ACCESS_KEY: "${AWS_SECRET_ACCESS_KEY}"
      AWS_REGION: "${AWS_REGION}"
    volumes:
      - $PWD:/app
    working_dir: /app
  selenium:
    image: selenium/standalone-chrome-debug
    ports:
      - 4444:4444
      - 5901:5900
  website:
    build: .
    ports:
      - 80:80

  intergration-tests:
    environment:
      SELENIUM_HOST: selenium
      SELENIUM_PORT: 4444
      WEBSITE_URL: explorecalifornia.ke.s3-website-us-east-1.amazonaws.com
    volumes:
      - "$PWD:/app"
    build: 
      context: .
      dockerfile: rspec.Dockerfile
    command:
      - --pattern
      - /app/spec/intergration/*_spec.rb

  unit-tests:
    environment:
      SELENIUM_HOST: selenium
      SELENIUM_PORT: 4444
    volumes:
      - "$PWD:/app"
    build: 
      context: .
      dockerfile: rspec.Dockerfile
    command:
      - --pattern
      - /app/spec/unit/*_spec.rb
